<nav class="site-nav">
  <ul>
    <li {% if page.url == '/' %}class="active"{% endif %}>
      <a href="{{ '/' | relative_url }}">Home</a>
    </li>
    <li {% if page.url contains '/commands' %}class="active"{% endif %}>
      <a href="{{ '/commands/' | relative_url }}">PowerShell Reference</a>
    </li>
    <li {% if page.url contains '/howto' %}class="active"{% endif %}>
      <a href="{{ '/howto/' | relative_url }}">HowTo Guides</a>
    </li>
    <li {% if page.url contains '/support' %}class="active"{% endif %}>
      <a href="{{ '/support/' | relative_url }}">Support</a>
    </li>
  </ul>
</nav>
